<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Navigation</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a [routerLink]="['/home']">Home</a></li>
          <li><a [routerLink]="['/about']">About</a></li>
          <li><a [routerLink]="['/contact']">Contact</a></li>

          <li><a [routerLink]="['/products']">Products</a></li>
          <li><a [routerLink]="['/login']">Login</a></li>
          <li><a [routerLink]="['/protected']">Protected</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <div id="content">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



<!--If we look at the template above, you will note the router-outlet element right below the navigation-->
<!--menu. When we visit /home, that’s where HomeComponent template will be rendered. The same-->
<!--happens for the other components.-->


<!--But if we do this, we’ll notice that clicking the link triggers a page reload and that’s definitely not
what we want when programming single page apps.
To solve this problem, Angular provides a solution that can be used to link to routes with no page
reload: the RouterLink directive.-->
