<div class="page-header">
  <div class="container">
    <h1>Router Sample</h1>
    <div class="navLinks">
      <a [routerLink]="['/home']">Home</a>
      <a [routerLink]="['/about']">About</a>
      <a [routerLink]="['/contact']">Contact</a>
      |
      <a [routerLink]="['/products']">Products</a>
      <a [routerLink]="['/login']">Login</a>
      <a [routerLink]="['/protected']">Protected</a>
    </div>
  </div>
</div>

<div id="content">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>


<!--If we look at the template above, you will note the router-outlet element right below the navigation-->
<!--menu. When we visit /home, that’s where HomeComponent template will be rendered. The same-->
<!--happens for the other components.-->


<!--But if we do this, we’ll notice that clicking the link triggers a page reload and that’s definitely not
what we want when programming single page apps.
To solve this problem, Angular provides a solution that can be used to link to routes with no page
reload: the RouterLink directive.-->
