<div *ngIf="false"></div>
<div *ngIf="a > b"></div>
<div *ngIf="str === 'yes'"></div>
<div *ngIf="myFunct()"></div>

<!--never display-->
<!--display if a is greater than b-->
<!--display if str is the string 'yes'-->
<!--display if myFunct return truthy-->

<div class="container" [ngSwitch]="myVar">
  <div *ngSwitchCase="'A'">Var is A</div>
  <div *ngSwitchCase="'B'">Var is B</div>
  <div *ngSwitchCase="'C'">Var is C</div>
  <div *ngSwitchDefault>Var is something else</div>
</div>


<h4 class="ui horizontal divider header">
  Current Choice is {{choice}}
</h4>

<div class="ui raised segment">
  <ul [ngSwitch]="choice">
    <li *ngSwitchCase="1">First Choice</li>
    <li *ngSwitchCase="2">Second Choice</li>
    <li *ngSwitchCase="3">Third Choice</li>
    <li *ngSwitchCase="4">Fourth Choice</li>
    <li *ngSwitchCase="2">Second Choice, Again</li>
    <li *ngSwitchDefault>Default choice</li>
  </ul>
</div>

<div style="margin-top: 20px">
  <button class="ui primary button" (click)="nextChoice()">
    Next Choice
  </button>
</div>
